:root {
  --border-radius: 5px;
  --border: 1px solid black;
  /* color scheme was designed using colormind.io */
  --primary: #217c8f;
  --secondary: #c29260;
  --highlight: #d35759;
  --warning: #ae494a;
  --background-color: white;
  --dimmed: #c6dabe;
  --light-bg: #f0f0f0;
  --font-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border: 1px solid white;
    /* color scheme was designed using colormind.io */
    --background-color: #212121;
    --dimmed: #333731;
    --light-bg: #303030;
    --font-color: white;
  }
}

body {
  font-family: Cantarell, sans;
  line-height: 1.6em;
  margin: 0;
  color: var(--font-color);
  background-color: var(--background-color);
}

header,
footer {
  padding: 2em;
  background-color: var(--light-bg);
}

nav > h1 {
  font-weight: bold;
  display: inline;
  margin-right: 2em;
  text-transform: uppercase;
}

nav > ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  font-weight: bold;
}

nav > form {
  display: inline;
  float: right;
}

input#search-pattern {
  border-radius: var(--border-radius);
  border: var(--border);
  min-width: 32ch;
  padding: 0.5em 2em;
  color: var(--font-color);
  background-color: var(--light-bg);
}

textarea#note {
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 2em;
  font-family: monospace;
  font-size: larger;
  width: 100%;
  height: 24ch;
  transition: ease-out 0.3s;
  color: var(--font-color);
  background-color: var(--light-bg);
}

textarea#note:focus {
  box-shadow: 0 0 0 100vw #000000cc;
  transition: ease-in 0.3s;
}

button {
  border-radius: var(--border-radius);
  border: var(--border);
  border-color: var(--primary);
  background-color: var(--primary);
  color: white;
  padding: 0.5em 2em;
  text-transform: uppercase;
  transition: ease-out 0.3s;
}

button.small {
  padding: 0.1em 1em;
}

button:hover {
  background-color: var(--highlight);
  transition: ease-in 0.3s;
}

button[value="delete"] {
  background-color: var(--warning);
}

button[value="delete"]:hover {
  background-color: var(--highlight);
}

form.note-edit > button[type="submit"] {
  margin: 1em 0;
}

a {
  text-decoration: none;
  word-break: break-word;
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
  transition: ease-in 0.3s;
}

main {
  width: min(72ch, 100%);
  margin: 4em auto;
}

main > h2 {
  text-align: center;
  margin-top: 2em;
}

form.note-edit {
  margin: 2em 1em 3em;
}

article {
  margin: 2em 0;
}

article > div.content {
  margin-left: 2em;
}

div.article-headline > h3 {
  display: inline;
}

span.last-update {
  color: var(--dimmed);
  transition: ease-in 0.3s;
  float: right;
}

span.last-update:hover {
  color: var(--font-color);
  transition: ease-in 0.3s;
}

span.clue {
  color: var(--dimmed);
  margin-left: 1em;
}

var {
  font-family: monospace;
}

footer > ul {
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
}

pre.chroma {
  font-family: "JetBrains Mono", monospace;
  border-top: 0.1em solid var(--primary);
  border-bottom: 0.1em solid var(--primary);
  padding: 1em;
  margin: 2em 0;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Cantarell";
  src: url("/assets/Cantarell-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Cantarell";
  src: url("/assets/Cantarell-Bold.woff2") format("woff2");
  font-weight: bold;
}
